.header {
    background-image: url('assets/clouds.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-left {
    margin-bottom: 20px;
}

body {
    font-family: 'Song Myung', serif;
}

.headshot-container {
    padding-left: 0;
    padding-right: 0;
}

.headshot {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.american-flag {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.tagline {
    text-transform: uppercase;
    background: linear-gradient(to right, rgba(4, 36, 61, 1), rgba(4, 36, 61, 1), rgba(4, 36, 61, 1), rgba(4, 36, 61, 0));
    color: #ffffff;
    margin-left: -15px;
    font-size: 29px;
    text-align: center;
    margin-top: 25px;
    font-weight: 300;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    height: 220px;
    padding-right: 15px;
}

.county {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 130px;
}

.ribbon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}

.service {
    font-size: 32px;
    text-align: center;
    color: rgba(4, 36, 61);
    margin-top: 10px;
}

.stars-banner {
    background-color: #04243d;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 45px;
}

.vote-support {
    margin-top: 40px;
    font-size: 32px;
}

.bring-balance {
    margin-top: 5px;
    font-size: 24px;
}

.stars-line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.family-values {
    background-color: #ffffff;
    color: #04243d;
}

.family-photo-section .title {
    margin-top: 24px;
    font-size: 32px;
}

.family-photo-section .photo-container {
    margin-top: 12px;
}

.family-photo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.family-photo-section .caption {
    font-size: 18px;
    margin-top: 22px;
    line-height: 1.3;
}

.volunteer {
    margin-top: 24px;
    font-size: 32px;
}

.volunteer-email {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    font-size: 16px;
    width: 50%;
}

.volunteer-section {
    margin-bottom: 16px;
}

.volunteer-photo-container {
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    margin-bottom: 15px;
}

.volunteer-photo {
    width: 100%;
}

.fiscal-responsibility-container {
    background-color: #04243d;
    height: 160px;
}

.fiscal-responsibility-container p {
    position: absolute;
    padding: 30px;
    color: #ffffff;
    font-size: 16px;
    width: 60%;
}

.fiscal-american-flag {
    position: absolute;
    right: 15px;
    height: 160px;
}

.fiscal-headshot {
    position: absolute;
    right: 15px;
    height: 160px;
}
.grandparents {
    color: #ffffff;
    background-color: #04243d;
    padding-bottom: 60px;
}

.grandparents-text {
    margin-top: 24px;
    font-size: 18px;
}

.grandparents-photo-contaner {
    margin-top: 22px;
}

.grandparents-photo {
    width: 100%
}

.grandparents-tagline {
    margin-top: 16px;
    margin-bottom: 80px;
    font-size: 18px;
}

.franklin-family-values {
    margin-top: 24px;
    font-size: 24px;
    color: #FFFFFF;
}

.values {
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 16px;
}

.values li {
    margin-top: 16px;
}

.bottom-sign {
    background-color: #FFFFFF;
    height: 100px;
}

.footer {
    background-color: #04243d;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}

.footer-text {
    margin-top: 35px;
    margin-bottom: 16px;
}

.small-badge {
    display: block;
    margin-top: -25px;
    margin-right: auto;
    margin-left: auto;
}